@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@900&display=swap');

html {
    overflow-x: hidden;
}

body {
    background: radial-gradient( 
        rgb(1, 134, 1), 
        rgb(0, 82, 0)   
    );
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    height: 100vh;
    background: url('./images/BackgroundLP.svg');
    background-color: #fefefe;
    background-size: 100%;
    color: black;
    padding-top: 10em;
}

.jumbotron .container { 
    display: flex;
    align-items: center;
    height: 100%;
}

.jumbotron .row {
    display: flex;
    align-items: center;
}

.jumbotron .display-4 {
    color: #0F8345;
    font-family: 'Rubik', sans-serif;
}

.navbar {
    font-weight: bold;
    padding: 2em;
    background-color: transparent;
}

.navbar * {
    color: #0F8345;
}

.hand {
    position: relative;
    right: -12%;
    bottom: -4.5em;  
}

main section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}

main section h2{
    color: orange;
    font-weight: bolder;
}

main section .row {
    display: flex;
    align-items: center;
}

.about {
    background: radial-gradient( 
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.3)   
    ),
    url("./images/marketleft.jpg") no-repeat;
    background-size: 100%;
}

.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }